<body>
    <!-- banner --> 
    <div class="jumbotron jumbotron-fluid d-flex flex-column justify-content-center" id="banner"
        style="background-image: url(img/pexels-marcus-aurelius-4063590.jpg); width: 100%; object-fit: contain;">
        <div class="container-fluid d-flex flex-column align-items-center">
            <h1 class="display-4 text-white text-center mb-5">Course List</h1>
        </div>
    </div>

    <!-- course list -->
    <div class="d-flex flex-column justify-content-center align-items-center px-5 py-5" id="threeColCallout">
        <div class="container-fluid d-flex flex-column align-items-center mb-5 animate__animated animate__slideInRight">
            <p class="lead text-center">Scroll through the course list below to view our current offerings. In-Person events to fifteen (15) students, so SEATING IS LIMITED!</p>
        </div>
    {{#each courses}}
        <div class="d-flex flex-wrap justify-content-center align-items-center mb-5 w-50" id="programCards">
            <div class="card flex-fill h-lg-100 h-md-50 h-sm-50">
                <img class="card-img-top" src="img/pexels-artem-podrez-5726794.jpg" alt="">
                <div class="card-body d-flex flex-column justify-content-center">
                    <h4 class="card-title">{{this.course_name}}</h4>
                    <p class="card-text">{{this.course_code}}-{{this.id}} | {{this.course_location}}</p>
                    <p class="card-text">{{this.course_description}}</p>
                    <div class="container justify-content-center mt-3 ctaButton">
                        <a class="d-flex flex-nowrap align-items-center" href="/courses">
                            <img id="cardBtn" src="img/icons/arrow.png" alt="arrow icon"
                                style="width: 32px; height: 32px;" />
                            <p class="ctaBtn ml-5">Apply Now</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    {{/each}}
    </div>
    <!-- SCHOLARSHIP APPLICATION -->
        <div class="jumbotron jumbotron-fluid d-flex flex-column justify-content-center px-lg-5 bg-light" id="oneColCallout">
            <div class="container-fluid d-flex flex-column align-items-center mb-5">
                <h2 class="display4 text-dark text-center mb-5 text-uppercase">Scholarship Application</h2>
                <p class="lead text-center">​​Scholarships are our form of financial assistance and are intended to help students pursue continuing education and advance their career goals. However, not all students have equal access to financial resources to fund their education, which is why scholarships are often awarded to students who are considered financially disadvantaged.</p>
                <div class="container justify-content-center mt-3" id="ctaButton">
                    <a class="d-flex flex-nowrap justify-content-center align-items-center" href="/scholarships">
                        <img src="img/icons/arrow.png" alt="arrow icon" />
                        <p class="ctaBtn ml-5"> Learn more</p>
                    </a>
                </div>
            </div>
        </div>
</body>